body {
    background-color: #FFECD6;
    font-family: Helvetica, Arial, sans-serif;
}

main {
    display: grid;
    place-items: center;
    height: 100vh;
}

.card {
    background-color: #008DB1;
    border: 6px solid #004e63;
    border-radius: 25px;
    width: 380px;
    padding: 20px;
    text-align: center;
    color: white;
}

h1 {
    margin: 10px 0;
}

h2 a {
    color: #91e4fb
    text-decoration: none;
    font-size: 16px;
}

img {
    width: 100%;
    border: 6px solid white;
    margin: 15px 0;
}

ul {
    list-style-type: disc;
    text-align: left;
    margin: 15px 40px;
}

blockquote {
    color: #FFD783;
    font-family: "Brush Script MT", cursive;
    margin-top: 15px;
}